<%- include('partials/header') %>
    
    <div class="row">
        <% for(let i=0; i < colors.length; i++) { %>
            <div class="col-lg-2 col-md-4 item" style="background-color: <%= colors[i].color %>;">
                <span>
                    <%= colors[i].color %>
                </span>
                <% if (colors[i].locked) { %>
                    <img src="/img/secured-lock.png" alt="lock">
                    <% } else { %>
                        <img src="/img/padlock-unlock.png" alt="lock">
                        <% } %>
                            <input type="hidden" name="color" value="<%= colors[i].color %>">
            </div>
            <% } %>
    </div>

    <% if(!isLogged) { %>
        <h3 class="welcome">Welcome, Guest</h3>
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#registerModal">
            Sign up
        </button>
        <button type="button" class="btn btn-primary btn-lg sign-in" data-bs-toggle="modal" data-bs-target="#loginModal">
            Sign in
        </button>
    <% } %>
    
    <% if(isLogged) { %>
        <h3 class="welcome">Welcome, <%= name %></h3>
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-primary btn-lg logout">
                Log Out
            </button>
        </form>
    <% } %>

<%- include('partials/footer') %>